@font-face {
    font-family:neue;
    src: url(./neue-hass-display/NeueHaasDisplayBold.ttf);
}
@font-face {
    font-family:neue1;
    src: url(./neue-hass-display/NeueHaasDisplayLight.ttf);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
*::selection{
    background-color: #ff2a00a1;
    color: #fff;
}
body{
    overflow-x:hidden ;
}
#main{
    position: relative; 
    z-index: 10;
}

#page1{
    min-height:100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 0vw 2vw;
}

#nav{
    display: flex;
    height: 100px;
    width: 100%;
    /* background-color: aqua; */
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
   
}
#nav #nav_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
#nav #menu{
    display: none;
}
#nav img{
    transition: all ease 0.3s;
}
#nav #nav_item h3{
    font-size: 14px;
    font-family: neue;
    letter-spacing: 1px;
    font-weight: 500;
    border: 1px solid #0000009c;  
    border-radius: 25px;
    text-transform: capitalize;
    padding: 0.5vw 1.2vw;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
#nav #nav_item h3 a{
    text-decoration: none;
    color: #000;
    position: relative;
    z-index: 9;
}
#nav_item h3::after{
     content: "";
     width: 100%;
     height: 100%;
     position: absolute;
     background-color: #111;
     left: 0;
     bottom: -100%;
     border-radius: 50%;
     transition: all ease 0.3s;
}
#nav_item h3:hover::after{
    bottom: 0;
    border-radius: 0;
    color: #fff;
}

 #nav #nav_item h3:hover a{
    color: #fff !important;
}

#page1_content{
    height: 70vh;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #0000009c;
    padding: 50px 0px;
   
}
#page1_content #left h3{
    width: 45%;
    /* background-color: antiquewhite; */
    font-family: neue;
    font-weight: 900;
    font-size: 1.7vw;
    text-transform: capitalize;
}
#page1_content #right h1{
    font-size: 9vw;
    font-family: neue;
    font-weight: 1000;
    text-transform: uppercase;
    line-height: 8vw;
    text-align: end;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 2vw;
    position: relative;
}

#hero-shape{
    width: 46vw;
    height: 30vw;
    right: 0;
    top: 33vw;
    position: absolute;
}
#hero-shape1{
    height: 100% !important;
    width: 100%;
    background-color: #FE320A;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
}
#hero-shape2{
    height:20vw;
    width: 20vw;
    background-color: #FE320A;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation-name: anime1;
    animation-duration: 3s;
    animation-timing-function: linear 0.3s;
    animation-iteration-count: infinite;
   
}
#hero-shape3{
    height:20vw;
    width: 20vw;
    background-color: #FE320A;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute !important;
    animation-name: anime;
    animation-duration: 3s;
    animation-timing-function: linear 0.3s;
    animation-iteration-count: infinite;

}

#page2{
    min-height: 100vh;
    width: 100%;
    padding: 8vw 0vw;
    background-color: #EFEAE3;
    position: relative;
    /* background-color: rgb(168, 153, 153); */
}
#moving-text{
    white-space: nowrap;
    overflow-x: auto;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
#moving-text h1{
    font-size: 7vw;
    text-transform: uppercase;
    /* background-color: aquamarine; */
    display: inline-block;
    font-family: neue;
}
.box{
    white-space:nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.gola{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FE320A;
    /* background-color: purple; */
    display: inline-block;
    margin: 1vw 2vw;
}
#bottom-part2{
    height: 80vh;
    /* background-color: plum; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vw;
    position: relative;
    z-index: 9;
}
#bottom-part2 h1{
    font-size:3.3vw;
    font-family: neue;
    width: 50%;
}
#bottom{
   width: 20%;
   /* background-color: palegreen; */
}

#bottom img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

#bottom p{
    font-size: 1vw;
    font-family: neue1;
    font-weight: 300;
    margin-top: 2vw;
}

#circle{
    height: 30vw;
    width: 30vw;
    background-color: #FE320A;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 30%;
    filter: blur(20px);
    animation-name: circle;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

#page3{
    min-height: 100vh;
    width: 100vw;
    background-color: #EFEAE3;
    padding-top: 2vw;
}

.elem{
    height: 100px;
    width: 100%;
     padding: 0vw 3vw;
     position: relative;
     z-index: 9;
     display: flex;
     align-items: center;
     /* background-color: aqua; */
     overflow: hidden;
     border-bottom: 1px solid #5d5b5bb5;
}
.elem h1{
     z-index: 9;
     font-size: 2.5vw;
     font-family: verdana;
     text-transform: capitalize;
     font-weight: 700;
     letter-spacing: -1.2px;
}
#overlay{
   height: 100%;
   width: 100%;
   background-color: orange; 
   left: 0;  
   top: -100%;
   position: absolute;
   transition: linear 0.4s;
  
}
.elem:hover #overlay{
    top:0;
}

#fixed{
    position: fixed;
    height: 26vw;
    width: 20vw;
    left: 55%;
    top: 27%;
    border-radius: 10px;
    display: none;
    z-index: 99;
    background-position: center;
    object-fit: contain;
}

#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8vw 3vw !important;
}

.left4{
    height: 100vh;
    width: 40%;
    background-color: #111;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding: 3vw;
  
}


.left4 h1{
    display: flex;
    justify-content:flex-start !important;
    align-items:center !important;   
    font-size: 5vw;
    font-family: neue;
    cursor: pointer;
    color:gray;
    margin-bottom: 1vw;
} 

.left4 p{
    color: #fff;
}

.page4_elem1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   border-radius: 20px;
  
}



.right4{
    height: 100vh;
    width: 50%;
    position: relative;
    overflow: hidden;
}

.right4 .page4_elem1{
   height: 100%;
   width: 100%;
}

.left4 h1:hover{
    color: #fff;
}

#page5{
  height: 70vh;
  width: 100%;
  background-color: #EFEAE3;
  padding: 8vw 3vw;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    font-size: 18px;
    border-left: 1px solid #33333398;
    padding: 2vw;
  }


  .swiper-slide {
    width: 30%;
  }
  
  .swiper-slide p{
    margin-top: 1vw;
  }

#page6{
    height: 100vh;
    width: 100%; 
}

#footer{
    height: 100vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(21, 20, 20);
    z-index: 9;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1vw;
    flex-direction: column;
}

#main_footer{
    height: 30vw;
    width: 100%;
    background-color: #FE320A;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_footer{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

#footer_content{
    width: 50%;
}

#footer_content1{
    width: 30%;
}

#footer h1{
    font-size: 22vw;
    color: #fff;
    text-transform: capitalize;
    font-family: neue;
}

#footer_content1 p{
    font-size: 1vw;
    font-family: neue1;
    color: #fff;
    font-weight: 400;
}

#footer_content1  input[type=text] {
    border: none;
    border-bottom: 2px solid red;
  }

#footer #footer_content h1{
    font-size: 2vw;
    color: #fff;
}


#full-scr{
    height: 100vh;
    width: 100%;
    background-color: #222222a5;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.9s;
}

#full-scr #full-half-div{
    height: 50vh;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#full-scr #full-half-div h3{
    font-size: 10vw;
    padding: 1.4vw 2vw;
    font-family: neue;
    margin-bottom: 1vw;
    cursor: pointer;
}

#loader{
    height: 100vh;
    width: 100%;
    background-color: #222;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    text-transform: uppercase;
    transition: all ease 0.7s;
}

#loader h1{
    font-size: 4vw;
    font-family: neue;
    background: linear-gradient(#f38938,#FE320A) !important;
    color: transparent;
    -webkit-background-clip: text !important;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
   animation-timing-function: linear;
}

#loader h1:nth-child(2){
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 2s;
   animation-timing-function: linear;
}

#loader h1:nth-child(3){
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 3s;
   animation-timing-function: linear;
}


@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0%;
    }
}






@keyframes anime {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime1 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
@keyframes circle {
    from{
        transform: translate(10% -10%)skew(0);
    }
    to{
        transform: translate(-10%, 10%)skew(10deg);
    }
}

@media (max-width:600px) {
    #page1{
        padding: 4vw;
    }
    #nav{
        display: flex;
        height: 100px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        position: relative;
        
    }
    #nav #nav_item{
        display: none;
    }
    #nav #menu{
        display: block;
        font-size: 18px;
        font-family: neue;
        border: 1px solid #0000009c;  
        border-radius: 25px;
        text-transform: capitalize;
        padding: 1.3vw 4vw;
        cursor: pointer;
        position: relative;
        overflow: hidden;  
    }

    #nav img{
        transition: all ease 0.10s;
    }

    #page1_content{
        /* background-color: red; */
        height: 60vh;
        width: 100%;
        /* background-color: aquamarine; */
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid #0000009c;
        padding: 50px 0px;
       
    }
    #page1_content #left h3{
        width: 90%;
        /* background-color: antiquewhite; */
        font-family: neue;
        font-weight: 900;
        font-size: 6vw;
        text-transform: capitalize;
    }
    #page1_content #right h1{
        font-size: 17vw;
        font-family: neue;
        text-transform: uppercase;
        line-height: 17vw;
        text-align: end;
    }
    
    video{
        height: 60vh;
        width: 95%;
        object-fit: cover;
        border-radius: 20px;
        margin-top: 9vw;
        margin-left: 3vw;
        position: relative;
        object-fit: cover;
        background-position: center;
    }
    
    #hero-shape{
       display: none;
    }

    #page2{
        min-height: 100vh;
        width: 100%;
        padding: 10vw 0vw;
        background-color: #EFEAE3;
        position: relative;
        /* background-color: rgb(168, 153, 153); */
    }
    #moving-text{
        white-space: nowrap;
        overflow-x: auto;
    }
    #moving-text::-webkit-scrollbar{
        display: none;
    }
    #moving-text h1{
        font-size: 9vw;
        text-transform: uppercase;
        /* background-color: aquamarine; */
        display: inline-block;
        font-family: neue;
    }
    .box{
        white-space:nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    .gola{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: #FE320A;
        /* background-color: purple; */
        display: inline-block;
        margin: 1vw 4vw;
    }
    #bottom-part2{
        height: 70vh;
        /* background-color: plum; */
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 4vw;
        position: relative;
        z-index: 9;
    }
    #bottom-part2 h1{
        font-size:6vw;
        font-family: neue;
        width: 100%;
        padding: 8vw 2vw;
    }
    #bottom{
       width: 80%;
       /* background-color: palegreen; */
    }
    
    #bottom img{
        height: 50%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
        padding-top: 2vw;
    }
    
    #bottom p{
        font-size: 4vw;
        font-family: verdana;
        font-weight: 300;
        margin-top: 5vw;
    }
    
    #circle{
        height: 60vw;
        width: 60vw;
        background-color: #FE320A;
        border-radius: 50%;
        position: absolute;
        top: 20%;
        left: 40%;
        filter: blur(20px);
        animation-name: circle;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    
    }
 

    #page3{
        min-height: 100vh;
        width: 100vw;
        background-color: #EFEAE3;
        padding: 0vw 2vw;
    }
    
    .elem{
        height: 100px;
        width: 100%;
         padding: 0vw 3vw;
         position: relative;
         z-index: 9;
         display: flex;
         align-items: center;
         /* background-color: aqua; */
         overflow: hidden;
         border-bottom: 1px solid #5d5b5bb5;
    }
    .elem h1{
         z-index: 9;
         font-size: 5vw;
         font-family: verdana;
         text-transform: capitalize;
         font-weight: 700;
         letter-spacing: -1.2px;
    }
    #overlay{
       height: 100%;
       width: 100%;
       background-color: orange; 
       left: 0;  
       top: -100%;
       position: absolute;
       transition: linear 0.4s;
      
    }
    .elem:hover #overlay{
        top:0;
    }
    
    #fixed{
        position: fixed;
        height: 50vw;
        width: 50vw;
        left: 45%;
        top: 27%;
        border-radius: 10px;
        display: none;
        z-index: 99;
        background-position: center;
        object-fit: contain;
    }

    #page4{
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 6vw 7vw !important;
    }
    
    .left4{
        height: 50vh;
        width: 100%;
        background-color: #111;
        border-radius: 10px 10px 0px 0px;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        padding: 3vw;
      
    }
    
    
    .left4 h1{
        display: flex;
        justify-content:flex-start !important;
        align-items:center !important;   
        font-size: 10vw;
        font-family: neue;
        cursor: pointer;
        color:gray;
        margin-bottom: 1vw;
    } 
    
    .left4 p{
        font-size: 3vw;
        color: #fff;
        width: 100%;
        margin-top: 1vw;
    }
    .right4{
        height: 50vh;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    .page4_elem1 img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        /* border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px; */
      
    }
    
    .right4 .page4_elem1{
       height: 100%;
       width: 100%;
    }
    
    #page5{
        height: 70vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 22vw 3vw;
      }
      
      .swiper {
          width: 100%;
          height: 100%;
        }
      
        .swiper-slide {
          font-size: 18px;
          border-left: 1px solid #33333398;
          padding: 2vw;
        }
      
       
            .swiper-slide {
              font-size: 18px;
              border-left: 1px solid #33333398;
              padding: 4vw;
              width: 60%;
            }

            #page6{
                height: 100vh;
                width: 100%; 
            }
            
            #footer{
                height: 100vh;
                width: 100%;
            }

            #footer>h1{
                margin-top: 50vw;
            }
            
            #main_footer{
                height: 100vw;
                width: 100%;
                background-color: #FE320A;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            #main_footer{
                display: flex;
                justify-content:flex-start;
                align-items: flex-end;
                flex-direction: column;
                padding: 5vw;
            }
            
            #footer_content{
                width: 100%;
            }
            
            #footer_content1{
                width: 100%;
            }
            
            #footer h1{
                font-size: 23vw;
                color: #fff;
                text-transform: capitalize;
                font-family: neue;
            }
            
            #footer_content1 p{
                margin-top: 4vw;
                font-size: 4.4vw;
                font-family:verdana;
                color: #fff;
                font-weight: 400;
            }
        
            
            #footer #footer_content h1{
                font-size: 10vw;
                color: #fff;
            }
            
          
}

@media (max-width:600px) {
    #loader h1{
        font-size: 10vw;
    }
}

